<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="shares" type="System.Configuration.NameValueSectionHandler" />
		<section name="virtuals" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
		<add key="indexpath" value="Index"/>
	</appSettings>
	<shares>
	<!--	<add key="1" value="\\mayukh\documents" />-->
	</shares>
	<virtuals>
	<!--	<add key="1" value="http://mayukh/myvirtualdirectory" />-->
	</virtuals>
</configuration>
